* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.small-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    grid-template-rows: 20% 40% 40%;
}

/* styling for the header is below */
.header {
    width: 100%;
    grid-column: 2 / span 3;
    grid-row: 1 / 1;
    background-color: white;
}

/* top row of the header styling below */
.top-row {
    height: auto;
    /* background-color: aqua; */
    display: grid;
    padding: 10px;
    grid-template-columns: 60% 40%;

}

.search-right {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 25px;
}

.search-left {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 5%;
}

.searchbar {
    width: 65%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid darkgray;
    background-color: rgb(215, 215, 215);
}

/* bottom row of header styling below */
.bottom-row {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.bottom-row .left {
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    padding-left: 5%;
    gap: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-wrap: break-word;
}

.bottom-row .right {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
    /* background-color: aquamarine; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-row .right > button {
    border-radius: 16px;
    padding: 10px 30px;
    background-color: rgb(17, 155, 253);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.left .greeting {
    font-size: 16px;
    font-weight: 700;
}

.username.big {
    font-weight: 700;
    font-size: 24px
}


/* sidebar on left styling below */
.sidebar {
    word-break: break-all;
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    background-color: rgb(17, 155, 253);
}

.sidebar .title {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.sidebar > ul {
    list-style: none;
}

.sidebar .list-item {
    display: flex;
    align-items: center;
    padding:  5px 0;
    margin: 20px 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar .list-item:hover{
    font-size: larger;
    text-decoration: underline;
}

.sidebar .list-item > div {
    margin-left: 10px;
}

/* project card styling below */
.projects {
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 100%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

.projects-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(300px ,45%); */
    grid-auto-rows: 45%;
    gap: 20px;
    padding: 20px 20px;
}

.projects > .title {
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-left: 4px solid aquamarine;
}

.card:hover {
    background-color: rgba(233, 233, 233, 0.829);
    border: 1px solid rgb(17, 155, 253);
}

.card > .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.card > .content {
    font-size: 14px;
}

.card > .icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.card > .icon-container > img {
    cursor: pointer;
}

/* Announcements styling */
.announcements-container {
    grid-column: 4 / 5;
    grid-row: 2 / row span 1;

    background-color: rgb(233, 233, 233);
    padding: 20px 30px 20px 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}

.announcements-container > .title {
    grid-row: 1;
    font-size: 24px;
    font-weight: 700;
}

.announcements {
    grid-row: 2 / 3;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.announcements .item {
    padding-bottom: 10%;
    border-radius: 8px;
}

.announcements .item:hover {
    background-color: rgba(230, 230, 230, 0.897);
}

.announcements > .item > .title {
    font-size: 18px;
    font-weight: 700;
}

.announcements > .item > .content {
    font-size: 13px;
}

.announcements > .item.one, .item.two {
    border-bottom: 1px solid darkgrey;
}


/* Trending styling */
.trending-container {
    background-color: rgb(233, 233, 233);
    grid-column: 4 / 5;
    grid-row: 3 / span 1;
    padding: 20px 30px 20px 30px;
}

.trending-container > .title {
    grid-row: 1;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.trending {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.trending > .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 5px;
    gap: 20px;
}

.trending > .item:hover {
    background-color: rgba(230, 230, 230, 0.897);
}
