* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.small-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    grid-template-rows: 20% 40% 40%;
}

/* styling for the header is below */
.header {
    width: 100%;
    grid-column: 2 / span 3;
    grid-row: 1 / 1;
    background-color: rgba(232, 224, 224, 0.812);
}

/* top row of the header styling below */
.top-row {
    height: auto;
    /* background-color: aqua; */
    display: grid;
    padding: 10px;
    grid-template-columns: 60% 40%;

}

.search-right {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-left {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 5%;
}

.searchbar {
    width: 65%;
}

/* bottom row of header styling below */
.bottom-row {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.bottom-row .left {
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    padding-left: 5%;
    gap: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-wrap: break-word;
}

.bottom-row .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: aquamarine; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-row .right > button {
    border-radius: 16px;
    padding: 10px 30px;
    background-color: rgb(17, 155, 253);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.left .greeting {
    font-size: 16px;
}

.username.big {
    font-weight: 700;
    font-size: 24px
}


/* sidebar on left styling below */
.sidebar {
    word-break: break-all;
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    background-color: rgb(17, 155, 253);
}

.sidebar .title {
    display: flex;
    gap: 15px;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.sidebar > ul {
    list-style: none;
}

.sidebar .list-item {
    display: flex;
    align-items: center;
    padding:  10px 0;
    margin: 20px 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar .list-item > div {
    margin-left: 10px;
}

/* project card styling below */
.projects {
    background-color: rgb(254, 245, 234);
    width: 100%;
    height: 100%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    padding: 20px;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
    gap: 20px;
}

.projects > .title {
    font-size: 36px;
    font-weight: 700;
}

.card {
    border: 1px solid black;
    padding: 10px;
    position: relative;
}

.card > .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.card > .icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.card > .icon-container > img {
    cursor: pointer;
}
